body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
/* ============== Common styles ============== */
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
h2,
h3 {
  color: #2e2f42;
}
/* ============== /Common styles ============== */

/* ============== Page header styles ============== */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-part {
  color: #2e2f42;
}
.menu-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.address {
  font-style: normal;
}
.address-link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* ============== /Page header styles ============== */

/* ============== Hero section styles ============== */
.hero {
  background: #2e2f42;
}
.hero-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #404bbf;
}
.btn:hover,
.btn.focus {
  background: #4d5ae5;
}
/* ============== /Hero section styles ============== */

/* ============== Benefits section styles ============== */
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.benefits-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Benefits section styles ============== */
/* ============== Our team section styles ============== */
.team {
  background: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.team-card-item {
  background: #ffffff;
}
.team-list-fullname {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Our team section styles ============== */

/* ============== Portfolio section styles ============== */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.project-card {
  background: #ffffff;
}
.project-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.project-card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ============== /Portfolio section styles ============== */

/* ============== Footer section styles ============== */
.page-footer {
  background-color: #2e2f42;
}
.logo-part-footer {
  color: #ffffff;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/* ============== /Footer section styles ============== */
